* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbarNav {
    justify-content: flex-end;
    padding-right: 50px;
}

#boolFactory {
    width: 100%;
    padding: 10px 0;
}

#button {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
}